<% page_title = " - Event Requests From Organisers"%>
<% content_for :title, page_title %>
<%= render(:partial=>"/layouts/navbar") %>

<div class="requests-list">
	<div class="container">
		<div class="row">
			<div class="col-xs-5">
				<div class="selection-caption">
					<% if params[:city].present? %>
						<h3><%= @category %> Requests in <%= @city.capitalize %></h3>
					<% else %>
						<h3><%= @category %> Requests in <%= @city %></h3>
					<% end %>
				</div>							
			</div>
			<div class="col-xs-6 col-xs-offset-1">													
				<div class="selection-dropdown">
					<%= form_tag( {action: "index"}, method: "get") do %>
						<%= select_tag("category", options_from_collection_for_select(Category.all, 'name', "name"), { include_blank: true, :data=>{toggle: "tooltip"}, :title=> "Select the category" }) %>
						<%= select_tag("city", options_from_collection_for_select(City.all, 'name', :display_name), { include_blank: true, :data=>{toggle: "tooltip"}, :title=> "Select the category" }) %>
						<%= submit_tag "Filter", name: nil, :class=>"btn btn-info" %>													
					<% end %>		
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="table-list">
				<div class="col-xs-12">
					<% if @request.present? && @request.count > 0 %>
					
						<table class="table table-violet">
					    	<thead>
					        	<tr>								         
						          <th>Request Title</th>
						          <th>Proposals</th>
						          <th>Delivery Date</th>
						          <th>Delivery Time</th>
						          <th>Budget</th>
						        </tr>
					      	</thead>
					      	<tbody>
					      		<% @request.each do |request| %>
							    	<tr>								       
							        	<td>
							        		<%= link_to(request.title, {:action=>'show', :id=>request.id}, :target=>"_blank") %>
							        		
							        		<% if request.cancel? %>
								          		<div class="time-over">
								          			<i class="fa fa-ban"></i> Request has been cancelled
								          		</div>
								          	<% elsif request.vendor_select? %>
								          		<div class="time-over">
								          			<i class="fa fa-ban"></i> Vendor selected for the Request
								          		</div>
								          	<% elsif !(request.vendor_select?) && (request.date < Time.now.to_date) %>
								          		<div class="time-over">
								          			<i class="fa fa-ban"></i> Time over cannot bid on this request
								          		</div>
								            <% end %>
								            			          									          		
							          	</td>
							         	<td><%= request.proposals.count %></td>
							          	<td><%= request.date.strftime("%a, %B %d, %Y") %></td>
							          	<td><%= request.time.strftime("%I:%M %p") %></td>
							          	<td><i class="fa fa-inr"></i> <%=  number_with_delimiter(request.budget) %></td>
							        </tr>	
						        <% end %>				      
					      	</tbody>
					    </table>
					    
					<% else %>
						<div class="bs-callout bs-callout-danger">
							<h4>No request found.</h4>
						</div>				    
				    <% end %>
				</div>
			</div>
		</div>
		
		<div class="row">
			<%= paginate @request %>
		</div>
		
	</div>
		
</div>

<%= render(:partial=>"/layouts/footer") %>
