<% page_title = " - Account Unlock"%>
<% content_for :title, page_title %>
<%= render(:partial=>"/layouts/navbar") %>
<% content_for :header do %>
	<%= javascript_include_tag "plugins/jquery-validation/jquery.validate.js", 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "plugins/jquery-validation/custom-methods.js", 'data-turbolinks-track' => true %>
<% end %>

<div class="register">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="register-form passwordretrieve-form">
					
					<h3>Resend unlock instructions</h3>
					
					<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, :id=>"unlockAccount" }) do |f| %>
					  
					  <%= devise_error_messages! %>
					
					  <div>
					  	<%= f.label :email %><br />
					  	<%= f.email_field :email, autofocus: true, :id=>"retrieveEmail", required: true, :placeholder=>"Enter your email" %>
					  </div>
					  <label style="display: none;" for="retrieveEmail" class="error"></label>
					
					  <div>
					  	<%= f.submit "Resend unlock instructions", class: "btn btn-danger" %>
					  </div>
					  
					<% end %>
					
					<%= render "devise/shared/links" %>

				</div>
			</div>
		</div>
	</div>
</div>

<%= render(:partial=>"/layouts/footer") %>

<% content_for :footer do %> 
        
	<%= javascript_tag do %>
		
		//Forgot Password Form Validation		
		$( "#unlockAccount" ).validate();	
		
	<% end %>	
			
<% end %>
