<% page_title = " - Contact Us"%>
<% content_for :title, page_title %>
<% content_for :header do %>		
	<%= javascript_include_tag "plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js", 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "plugins/jquery-validation/jquery.validate.js", 'data-turbolinks-track' => true %>	
<% end %>
<%= render(:partial=>"/layouts/navbar") %>


<div class="dashboard">
	<div class="container">
		<div class="row">	
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-4">
						<aside>
							
							<div class="lightbox-blue">												
								
								<ul class="links">
									<li>
										<h4>Get Help or Give Feedback</h4>
										<p>Contact us for assistance, or to give us feedback.</p>
									</li>
									<li>
										<h4>Support Us</h4>
										<p>We are trying to build a platform for both Event Organisers' and Service Providers' or Vendors' to organise an event more effectively. We are currently beta at the moment and taking user feedback about our service and what other features you want in this platform.</p>
										<p>If you really like our idea and want to support us we would like to request you to share our site on your social network or any other places so that we can reach quickly to more masses.</p>
									</li>
									
								</ul>
							</div>
							
						</aside>	
					</div>
					
					<div class="col-xs-8">
						<div class="lightbox-blue">
							<div class="dahsboard-right">
								<div class="row">
									<div class="col-xs-12">
										<h2 class="caption">Contact Us</h2>
										<p>We would love to hear from you! If you have a customer support request, general feedback or would just like to get in touch with us please use the form below.</p>
									</div>									
								</div>	
								<div class="row">
									<div class="col-xs-12">
										<p class="bg-danger bg-paddding">All fields are required.</p>
										
										<%= simple_form_for @contact, :html=> { id: 'contactform', class: 'editform' } do |f| %>
											<div class="row">																								
												<div class="col-xs-6">
													<% if @name.present? %>
														<%= f.input :name, :placeholder=>"Enter Full Name", input_html: { value: @name, readonly: "readonly" }, :required=>true %>
													<% else %>
														<%= f.input :name, :placeholder=>"Enter Full Name", :required=>true %>
													<% end %>
												</div>
												<div class="col-xs-6">
													<% if @email.present? %>
														<%= f.input :email, :placeholder=>"Enter Email", input_html: { :value=> @email, readonly: "readonly" }, :required=>true %>
													<% else %>
														<%= f.input :email, :placeholder=>"Enter Email", :required=>true %>
													<% end %>
												</div>
											</div>	
																				  
										    <div class="row">
												<div class="col-xs-12">
												  <%= f.label :contact_reason do %>
												  	Reason <span class="question popovertip" data-toggle="popover" data-placement="right" data-content="Select the reason for your contact."><i class="fa fa-question-circle"></i></span>
												  <% end %>											  				  	
												  
												  <%= f.association :contact_reason, :label_method => :reason, :label=>false, :selected=>@reason, include_blank: false %>
												 
												</div>
											</div>
											  
											  <div class="row">
												<div class="col-xs-12">													  		 	
													  <%= f.input :comment, input_html: {cols: 40, rows: 8}, :placeholder=>"Enter Description", :required=>true %>
											 	 </div>
											  </div>
											  
											  <div class="row">
												<div class="col-xs-12">
											  		<%= f.button :submit, 'Send', :class=>"btn btn-lg btn-success" %>
												</div>
											  </div>													
										<% end %>
										
										
									</div>
								</div>																						
							</div>
						</div>
					</div>
				</div>	
			</div>							
		</div>					
	</div>
</div>		
				
<%= render(:partial=>"/layouts/footer") %>

<% content_for :footer do %>  
        
	<%= javascript_tag do %>
		
		$("#contactform").validate();
		
	<% end %>	
			
<% end %>