<% page_title = " - Edit Proposal"%>
<% content_for :title, page_title %>
<%= render(:partial=>"/layouts/navbar") %>

<div class="request">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				
				<%= render(:partial=>"/layouts/request_details") %>
				
				<div class="row">
					<div class="proposals">
						<div class="col-xs-12">
							<div class="proposal-submit">
								
								<h3>Submit Proposal</h3>
								
								<%= error_messages_for(@proposal) %>
								
								<%= form_for(@proposal, url: {:action=> "update", :id => @proposal.id }, html: {:id=>"proposalForm"}) do |f| %>
									
									<%= render(:partial => "form", :locals => {:f => f, :submit_text=>"Update Proposal"}) %>
								<% end %>
								
							</div>
						</div>										
														
					</div>
				</div>
			</div>							
		</div>
								
	</div>
</div>	

<%= render(:partial=>"/layouts/footer") %>